 div{
    width: 100px;
height: 100px;
background-color: red;
position: relative;
animation-name: example;
animation-duration: 7s;
animation-iteration-count: infinite;
}

@keyframes example {
from {transform: translateX(0px);}
to {transform: translateX(1000px);}

}
p {
    font-size: 3rem;
      position: relative;
      text-align: center;
      top:250px ;
      color: blue;
      animation-name:mamuka ;
      animation-duration: 4s;
      animation-delay: 1s;
     animation-iteration-count: infinite;
  }

  @keyframes mamuka{
0%{color: rgb(160, 23, 23); rotate: 0%deg ;}
10%{color:rgb(222, 202, 26);transform:rotate(10%deg)}
20%{color:rgb(15, 85, 214);transform:rotate( 20%deg)}
30%{color:rgb(36, 194, 83);transform:rotate( 30%deg)}
40%{color:rgb(167, 16, 16);transform:rotate( 40%deg)}
}